* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial;
}

h3 {
    color: #ffffff;
    font-weight: 200;
}

.bande-content {
    display: flex;
    background-color: rgb(57, 57, 57);
    justify-content: space-between;
    align-items: center;
    padding: 0.5%;
}


.navigation {
    transition: transform 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation ul {
    display: flex;
    gap: 20px;
}

.navigation ul li {
    list-style: none;
    padding: 10px;
}

.navigation ul li:hover {
    background-color: rgb(99, 99, 99);
    border-radius: 5px;
}

.navigation ul li a {
    text-decoration: none;
    color: #ffffff;
}

.main-content {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
}

img {
    width: 100%;
    max-width: 600px;
}

.close-btn {
    display: none;
    position: absolute;
    top: 5px;
    right: 35px;
    font-size: 3em;
    color: #ffffff;
    cursor: pointer;
}

footer {
    display: flex;
    background-color: rgb(57, 57, 57);
    justify-content: center;
    padding: 20px;
}

@media (max-width: 600px) {
    .bande-content {
        padding: 20px;
    }

    .navigation {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.872);
        z-index: 10;
        width: 100vw;
        height: 100vh;
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .navigation.show {
        transform: translateY(0);
    }

    .navigation ul {
        flex-direction: column;
    }


    .navigation ul li {
        text-align: center;
    }

    .navigation ul li a {
        font-size: 1.5rem;
    }

    .burger {
        display: flex;
    }

    .close-btn {
        display: block;
    }
}